target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.kotlin

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/CONFIG_CORRECTED.md
/CONFIG_SERVER_README.md
/FICHIERS_MODIFIES.md
/INDEX.md
/OPERATIONS_GUIDE.md
/pom.xml
/PROFILES_GUIDE.md
/QUICK_START.md
/README_CONFIG_SERVER.md
/run.sh
/SETUP_SUMMARY.md
/SOLUTIONS.md
/start-services.sh
/test-config.sh
/VERIFICATION_FINALE.md
